{% extends "base_accounts.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container" style="padding-top:10%;">
    <div class="row justify-content-center">
        <div class="col-md-4 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Login</h2>                    
                    <form action="" method="post" novalidate>
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
                        {% include "includes/form.html" %}
                        <input class="btn btn-info btn-block" type="submit" value="Login">
                    </form>
                </div>
                <div class="card-footer text-muted text-center">
                    <a href="{% url 'password_reset' %}" >Forgot your password?</a>                        
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}