{% extends "base_accounts.html" %}

{% block title %}<h1>Reset your Password</h1>{% endblock title %}

{% block content %}
  <div class="row justify-content-center" style="padding-top: 10%">
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Reset your password</h3>
                <p>Enter your email address and we will send you a link to reset your password.</p>
                <form action="" method="POST" novalidate>
                    {% csrf_token %}
                    {% include "includes/form.html" %}
                    <input type="submit" class="btn btn-primary btn-block" value="Send password reset email">
                </form>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
  </div>
{% endblock content %}