{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center" style="padding-top: 10%">
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Reset your password</h3>
                <p>
                    Check your email for a link to reset your password.
                    If it doesn't appear within a few minutes, check your span folder.
                </p>
                <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Return to login</a>
    
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>
  
{% endblock content %}