{% extends "base_accounts.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-10">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-tilte">Sign up</h2>
                    <form method="POST" action=""  novalidate>
                        {% csrf_token %}
                        {% include "includes/form.html" %}
                        <input type="submit" class="btn btn-success btn-block btn-lg" value="Create an account">
                    </form>
                </div>
                <div class="card-footer">
                    Already have an account? <a href="{% url 'login' %}">Log in</a>
                </div>
            </div>        
        </div>
    </div>
</div>
  
{% endblock content %}