{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
    <li class="breadcrumb-item"><a href="{% url 'board_topics' post.topic.board.pk %}">{{ post.topic.board.name}}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'topic_posts' post.topic.board.pk post.topic.pk%}">{{post.topic.subject}}</a></li>
    <li class="breadcrumb-item active">Edit post</li>
{% endblock breadcrumb %}

{% block javascript %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
        var simplemde = new SimpleMDE();
    </script>
{% endblock %}

{% block content %}
    <form method="POST" action=".">
        {% csrf_token %}
        {% include "includes/form.html" %}
        <input class="btn btn-success" type="submit" value="Update">
        <a class="btn btn-danger" href="{% url 'topic_posts' post.topic.board.pk post.topic.pk %}">Cancel</a>
    </form>

{% endblock content %}