{% extends "base.html" %}
{% load humanize %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Boards</li>
{% endblock breadcrumb %}


{% block content %}
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Board</th>
                <th>Posts</th>                
                <th>Topics</th>
                <th>Last Post</th>        
            </tr>
        </thead>
        <tbody>
            {% for board in boards %}              
                <tr>
                    <td>
                        <a href="{% url 'board_topics' pk=board.pk %}">{{board.name}}</a>
                        <small class="text-muted d-block">{{board.description}}</small>
                    </td>                   
                    <td class="align-middle">
                        {{ board.get_posts_count }}                                            
                    </td>
                    <td class="align-middle">
                        {{board.topics.count}}
                    </td>          
                    <td class="align-middle">
                        {% with post=board.get_last_post %}
                            {% if post %}                              
                                <small>                                                        
                                    <a href="{% url 'topic_posts' board.pk post.topic.pk %}"></a>
                                    By {{ post.created_by.username }} at {{ post.created_at|naturaltime}}
                                </small>                      
                            {% else %}
                                <small>
                                    <em>No posts yet.</em>
                                </small>
                            {% endif %}
                        {% endwith %}                        
                    </td>          
                </tr>            
            {% endfor %}
        </tbody>
    </table>
    
{% endblock content %}