{% extends "base.html" %} {% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'home' %}">Boards</a>
</li>
<li class="breadcrumb-item">
    <a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a>
</li>
<li class="breadcrumb-item active">New topic</li>
{% endblock breadcrumb %} {% block content %}
    <form class="form" method="POST" novalidate>
        {% csrf_token %}             
        {% include "includes/form.html" %}
        <input type="submit" class="btn btn-success" value="Create">
    </form>
{% endblock content %}