{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block javascript %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
        var simplemde = new SimpleMDE();
    </script>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
    <li class="breadcrumb-item"><a href="{% url 'board_topics' topic.board.pk %}">{{ topic.board.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'topic_posts' topic.board.pk topic.pk %}">{{ topic.subject }}</a></li>
    <li class="breadcrumb-item active">Post a reply</li>
{% endblock breadcrumb %}

{% block content %}
    <form action="" class="mb-4" method="POST">
        {% csrf_token %}
        {% include "includes/form.html" %}
        <button class="btn  btn-success" type="submit">Post a reply</button>
    </form>

    {% for post in topic.get_last_ten_posts %}

        <div class="card mb-2">
            <div class="card-body p-3">
              <div class="row mb-3">
                <div class="col-6">
                  <strong class="text-muted">{{ post.created_by.username }}</strong>
                </div>
                <div class="col-6 text-right">
                  <small class="text-muted">{{ post.created_at }}</small>
                </div>
              </div>
              {{ post.get_message_as_markdown }}
            </div>
        </div>
      
    {% endfor %}

{% endblock content %}