{% extends "base.html" %}
{% load humanize %}

{% block breadcrumb %}    
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>          
    <li class="breadcrumb-item active">{{ board.name }}</li>    
{% endblock breadcrumb %}

{% block content %}

<div class="mb-4">
    <a class="btn btn-success" href="{% url 'new_topic' pk=1 %}">Novo Topico</a>
</div>
{% if board.topics.count >= 1 %}  
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Topic</th>
                <th>Starter</th>
                <th>Replies</th>
                <th>Views</th>
                <th>Last Upadate</th>        
            </tr>
        </thead>
        <tbody>

            {% for topic in topics %}
            {% url 'topic_posts' board.pk topic.pk as topic_url %}
            <tr>
                <td>
                    <p class="mb-0">
                        <a href="{{ topic_url }}">{{topic.subject}}</a>
                    </p>
                    <small class="text-muted">
                        Pages:
                        {% for i in topic.get_page_range  %}
                            <a href="{{topic_url}}?{{i}}">{{i}}</a>
                        {% endfor %}
                        {% if topic.has_many_pages %}
                            ... <a href="{{ topic_url }}?page={{topic.get_page_count}}">Last Page</a>
                        {% else %}
                        {% endif %}
                    </small>
                </td>            
                <td class="align-middle">{{topic.starter.username}}</td>
                <td class="align-middle">{{topic.replies}}</td>
                <td class="align-middle">{{ topic.views }}</td>
                <td class="align-middle">{{topic.last_updated|naturaltime}}</td>            
            </tr>
            {% endfor %}
        </tbody>
    </table>
   
    {% include "includes/paginator.html" %}
{% else %}
<h1>No Posts</h1>
{% endif %}

{% endblock content %}
